.quotes-list {
  overflow: hidden;
}

.quotes-wrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  grid-auto-columns: 18rem;
  justify-items: stretch;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  to {
    translate: calc(-3 * 18rem);
  }
}