.quotes-list {
  overflow: hidden;
  padding: 10px;
  color: #010B13;
}

.quotes-wrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  grid-auto-columns: 17.2rem;
  justify-items: stretch;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  to {
    translate: calc(-3 * 17.2rem);
  }
}

.quotes-container {
    padding: 0 10px;
}

#quote0, #quote3, #quote6 {
    background-color: #E3DAC9;
}

#quote1, #quote4, #quote7 {
    background: #C19A6B;
}

#quote2, #quote5, #quote8 {
    background: #DAC8AE;
}