footer {
    background-color: #282c34;
    color: #f7f4f0;
    text-align: start;
    padding: 10px 15px;
}

.links, .links:visited {
    color: #f7f4f0;
    text-decoration-color: #ffd700;
}

.links:hover, .links:focus {
    color: #ffd700;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-info {
    margin: 10px 0;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.icons {
    width: 30px;
}

.icons:hover {
    width: 35px;
}