footer {
  background-color: #282c34;
  color: #f7f4f0;
  text-align: start;
  padding: 10px 15px;
  box-shadow: 0px -2px 7px 0px #5a5858;
}

.links,
.links:visited {
  color: #f7f4f0;
  border-bottom: 2px solid #ffd700;
  text-decoration: none;
}

.links:hover,
.links:focus {
  color: #ffd700;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-info {
  margin: 10px 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.icons {
  width: 30px;
}

.icons:hover {
  width: 35px;
}

#page-name {
  grid-area: page-name;
}

#maker {
  grid-area: maker;
}

#blog {
  grid-area: blog;
}

#insta {
  grid-area: insta;
}

@media screen and (min-width: 600px) {
  footer {
    display: grid;
    grid-template-areas:
      "page-name page-name page-name"
      "maker blog insta";
    justify-content: space-between;
  }

  #page-name {
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  footer {
    padding: 10px 40px;
  }
}
